<!-- star rating from: https://gist.github.com/shadiabuhilal/4e7a571ffe40f18d476b2ff22a6c009b -->
<!-- how to print the star rating: https://stackoverflow.com/questions/21376113/how-to-repeat-an-item-multiple-times-in-html-or-css -->

{% extends "layout.html" %}

{% block title %}
    What to watch
{% endblock %}

{% block body %}
<div class="row" id="upperrow">
    <div class="col">
        <button class="btn btn-danger" onclick="goBack()"> ← Go Back</button>
    </div>
    <div class="col-auto">
        {% if not watched %}
        <form action="{{ url_for('alreadywatched', movie_id=movie_id) }}" method="POST">
            <button class="btn btn-secondary">Already watched</button>
        </form>
        {% else %}
            <button class="btn btn-secondary" disabled>You've watched this movie</button>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
    <div class="col-auto">
        <form action="{{ url_for('mollie', movie_id=movie_id) }}" method="POST">
            <button class="btn btn-danger">Rent this movie!</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <img src="http://image.tmdb.org/t/p/w154/{{data.poster_path}}">
    </div>
    <div class="col-10">
    <h1>{{data.title}} ({{data.release_date}})</h1>
    <p>{{data.overview}}</p>
    </div>
</div>
    <br>
    <div class="row">
        <div class="col">
            <h3>Information</h3>
        </div>
        <div class="col">
            <h3>Trailer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>Actors: {{actors[0]}}, {{actors[1]}} and {{actors[2]}}</li>
                <li>Rating: {{data.vote_average}}</li>
                <li>Release date: {{data.release_date}}</li>
                <li>Language: {{data.spoken_languages[0]['name']}}</li>
                <li>Runtime: {{data.runtime}} minutes</li>
            </ul>
        </div>
        <div class="col">
            <iframe src="https://www.youtube.com/embed/{{key}}" width="560" height="315"></iframe>
        </div>
    </div>

    <br>
    <br>
    <h3>Reviews</h3>
    <br>
    Give a star rating:
    <form action="{{ url_for('submit', movie_id=movie_id) }}" method="POST">
        <div class="rating">
            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
            <label for="star5" >☆</label>
            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
            <label for="star4" >☆</label>
            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
            <label for="star3" >☆</label>
            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
            <label for="star2" >☆</label>
            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
            <label for="star1" >☆</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input class="form-control" name="review" placeholder="Write here your review">
        </div>

        <div class="form-group">
            <button class="btn btn-danger">Submit the review</button>
        </div>
    </form>

    <ul class="list-group list-group-flush">
        {% for review in reviews %}
        <li class="list-group-item">
            <div class="usernamereview">Author: {% for user in users %}{% if user.id == review.user_id %} {{user.username}} {% endif %} {% endfor %}</div> 
            <repeat n="{{review.rating}}"></repeat>      
            {{review.review}}
        </li>
        {% endfor %}
    </ul>

    {% if reviewsapi == [] %}
    No reviews available
    {% else %}
    <ul class="list-group list-group-flush">
        {% for review in reviewsapi %}   
            <li class="list-group-item"><div class="usernamereview">Author: {{review.author}}</div>
                <br>
                {{review.content}} 
            </li>   
            <br>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}