{% extends "layout.html" %}

{% block title %}
    What to watch
{% endblock %}

{% block body %}
<div class="personal">
    <h1>Hello {{users.username}}</h1>
    <br>
    <ul>
        <li>Favourite genre: {% for genre in genres %} {% if genre.genre_id == favouritegenre %} {{genre.name}} {% endif %} {% endfor %} {% if favouritegenre == "Not yet determined" %} {{favouritegenre}} {% endif %}</li>
        <li>Wrote {{amountreviews[0]}} reviews</li>
        <li>Did the quiz {{resultsquiz[0]}} times</li>
        <li>Account created at: {{users.created_at}}</li>
    </ul>
    <div class="row">
        <div class="col align-self-center"><h2 id="watched">Watched movies:</h2></div> 
    </div>
    <div class="row">
        {% for movie in watchedmovies %}
            <a id="posterpersonal" href="/movie/{{movie.movie_id}}">
                <img  src="http://image.tmdb.org/t/p/w185/{{movie.poster}}">
            </a> 
        {% endfor %}
    </div>
</div>
{% endblock %}