{% extends "layout.html" %}

{% block title %}
    What to watch
{% endblock %}

{% block body %}
<h1 id="titlequiz">Take the quiz!</h1>

<form id="quiz" method="POST" action="{{ url_for('results') }}">
    <h2>1. Choose a poster:</h2>
    <div class="row">
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters[0]}}">
        </div>
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters[1]}}">
        </div>
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters[2]}}">
        </div>
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters[3]}}">
        </div>
    </div>
    
    <div class="row" id="radiobutton">
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question1" name= "question1" value="{{genres_q1[0][0]}}" required>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question1" name="question1" value="{{genres_q1[1][0]}}">
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question1" name="question1" value="{{genres_q1[2][0]}}">
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question1" name="question1" value="{{genres_q1[3][0]}}">
            </div>
        </div>
    </div>
    <br>
    <h2>2. Choose a decade:</h2>
    <div class="form-group">
        <select class="form-control" id="questionselect" name="question2">
          <option value="primary_release_date.gte=2020-01-01">2020s</option>
          <option value="primary_release_date.gte=2010-01-01&primary_release_date.lte=2019-12-31" selected>2010s</option>
          <option value="primary_release_date.gte=2000-01-01&primary_release_date.lte=2009-12-31">2000s</option>
          <option value="primary_release_date.gte=1990-01-01&primary_release_date.lte=1999-12-31">1990s</option>
          <option value="primary_release_date.gte=1980-01-01&primary_release_date.lte=1989-12-31">1980s</option>
          <option value="primary_release_date.gte=1970-01-01&primary_release_date.lte=1979-12-31">1970s</option>
          <option value="primary_release_date.gte=1960-01-01&primary_release_date.lte=1969-12-31">1960s</option>
        </select>
    </div>
    <br>
    <h2>3. Choose a picture:</h2>
    <div class="row">
        <div class="col">
            <img src="https://cff2.earth.com/uploads/2017/06/20152453/shutterstock_612941954.jpg" width=300px>
        </div>
        <div class="col">
            <img src="https://runningreluctant.files.wordpress.com/2018/01/money.jpg" width=300px>
        </div>
    </div>
    <div class="row" id="radiopicture">
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question4" name= "question4" value="popularity.desc" required>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question4" name="question4" value="revenue.desc">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://www.barnesandnoble.com/blog/barnesy/wp-content/nas-uploads/2013/08/book_nerd1.jpg" width=300px>
        </div>
        <div class="col">
            <img src="https://img.huffingtonpost.com/asset/5b9ca96f2500003200362853.jpeg?ops=scalefit_720_noupscale" width=300px>
        </div>
    </div>
    <div class="row" id="radiopicture">
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question4" name="question4" value="vote_average.desc">
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question4" name="question4" value="vote_count.desc">
            </div>
        </div>
    </div>
    <br>
    <h2>4. Choose a poster:</h2>
    <div class="row">
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters_q3[0]}}">
        </div>
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters_q3[1]}}">
        </div>
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters_q3[2]}}">
        </div>
        <div class="col">
            <img src="http://image.tmdb.org/t/p/w154/{{information_posters_q3[3]}}">
        </div>
    </div>
    <div class="row" id="radiobutton">
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question3" name= "question3" value="{{genres_q3[0][0]}}" required>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question3" name="question3" value="{{genres_q3[1][0]}}">
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question3" name="question3" value="{{genres_q3[2][0]}}">
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="question3" name="question3" value="{{genres_q3[3][0]}}">
            </div>
        </div>
    </div>
    <br>
    <h2>5. Choose a language:</h2>
    <div class="form-group">
        <select class="form-control" id="questionselect" name="question5">
          <option value="en">English</option>
          <option value="nl">Dutch</option>
          <option value="es">Spanish</option>
          <option value="de">German</option>
          <option value="fr">French</option>
          <option value="zh">Chinese</option>
        </select>
    </div>
    <br>
    <button id="quizbutton"class="btn btn-danger btn-lg btn-block">Submit</button>
</form>
<br>
<br>
<br>


{% endblock %}