{% extends "layout.html" %}

{% block title %}
    What to watch
{% endblock %}

{% block body %}
<div id="upcoming">
    <h1>Upcoming</h1>
    <br>
    <br>
    <ul class="list-group" id="popular">
        <li class="list-group-item" id="colourtoptable">
            <div class="row" id="toptable">
                <div class="col">Title</div>
                <div class="col"></div>
                <div class="col">Year</div>
                <div class="col-5">Description</div>
                <div class="col">Rating</div>
            </div>
        </li>
        {% for info in information %}
        <li class="list-group-item">
            <div class="row" id="resulttable">
                <div class="col"><a href="/movie/{{info.id}}">{{info.title}}</a></div>
                <div class="col" id="poster"><img src="http://image.tmdb.org/t/p/w154/{{info.poster_path}}"></div>
                <div class="col">{{info.release_date}}</div>
                <div class="col-5">{{info.overview}}</div>
                <div class="col">{{info.vote_average}}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}